{% extends 'core/base.html' %}
{% block title %}Blog{% endblock %}

{% block headers %}
<h2>Blog</h2>

<p>Este es nuestro blog</p>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row mt-3">
            {% for post in posts %}
                <div class="col-6">
                    <div class="card">
                        <img src="{{post.image.url}}" alt="">
                        <div class="card-body">
                            <h2 class="card-title">{{post.title}}</h2>
                            <p class="card-text">{{post.content|linebreaks}}</p>
                            <p class="mb-0 mbt">
                                <span class="section-heading-under">Publicado por <em><b>{{post.author}}</b></em> en 
                                    {% for category in post.categories.all %}
                                    {{category.name}}{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </span>
                            </p>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}