{% extends 'core/base.html' %}
{% block title %}Contacto{% endblock %}
{% block background %}{% load static %}{% static 'core/img/contacto.jpeg' %}{% endblock %}
{% block headers %}
<h2>Contacto</h2>


{% endblock %}

{% block content %}
{% load static %}

{% if 'ok' in request.GET %}
    <p><b>Su mensaje se ha enviado correctamente, en breve nos comunicaremos</b></p>
{% endif %}
<!--<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <input type="submit" value="Enviar"/>
</form>-->
    
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 offset-lg-1">
                <img class="img-fluid avatar" src="{% static 'core/img/contacto.jpeg' %}" alt="">
            </div>
            <div class="col-lg-7 col-md-8">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                    <label for="nombre" class="form-label">Nombre</label>
                        {{form.name}}
                        {{form.name.errors}}
                        
                    </div>
                    <div class="form-group">
                    <label for="correo" class="form-label">Email</label>
                        {{form.email}}
                        {{form.email.errors}}
                        
                    </div>
                    <div class="form-group">
                    <label for="mensaje" class="form-label">Mensaje</label>
                        {{form.content}}
                        {{form.content.errors}}
                        
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary btn-block py-2" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}